---
import logo from '../assets/logo.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img src={logo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			<h1>
				Hi, I'm Alfredo Navas a Product Builder.
			</h1>
			<p>
				Welcome to my personal website! Here, I share my journey as a product builder, insights on technology, and my passion for creating innovative solutions. Ask me anything about my work or projects.
		</section>
	</main>
</div>
